RewriteEngine On

# RewriteRule ^([^.]*)$ index.php?pozadavek=$1 [L,QSA]

RewriteRule index index.php [L]
RewriteRule logout logout.php [L]

RewriteBase /
RewriteCond %{QUERY_STRING} ^page=([^&]+)$
RewriteRule ^(Administration|Dashboard|Items|Others|Users)\.php$ %1.php? [R=301,L,NE]


RewriteRule ^(Administration|Dashboard|Items|Others|Users)\.php administration.php?rw=1&page=$1 [L,QSA]
